body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  color: #666;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.features {
  flex: 1;
  margin-right: 20px;
}

.feature {
  text-align: center;
  margin-bottom: 30px;
}

.feature img {
  max-width: 100%;
}

.subscribe {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.subscribe h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-form input {
  padding: 10px;
  margin-bottom: 10px;
}

.subscribe-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
}

.subscribe-form button:hover {
  background-color: #0056b3;
}
