.form-box-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.form-details-signup {
    width: auto;
    text-align: center;
    color: var(--blue-dark);
    padding: 10px;
    border: 1px solid var(--shadow);
    border-radius: 6px;
    margin-bottom: 10px;
}

.form-content-signup {
    display: flex;
    flex-direction: column;
    gap: 40px 40px;
    width: auto;
    text-align: center;
    color: var(--blue-dark);
    padding: 10px;
    border: 1px solid var(--shadow);
    border-radius: 6px;
    margin-bottom: 10px;
}

.input-field-signup {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 30px;
}

.set-errors{
    display: flex;
    flex-direction: column;
}

.bottom-link-signup {
    display: flex;
    justify-content: center;
    gap: 30px;
}

input {
    background-color: var(--white);
    width: 300px;
    height: 60px;
    border-radius: 8px;
    border: none;
    padding: 30px;
    box-shadow: 1px 1px 10px var(--shadow);
}

button {
    font-size: 15px;
    color: var(--white);
    background-color: var(--blue-dark);
    border: none;
    padding: 6px 15px;
    border-radius: 8px;
    margin: 10px;
}

.button-and-file{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.15s ease;
}

@media (max-width: 950px) {
    .form-content-signup, .form-details-signup{
        border: none;
    }
}